.text-thin { font-weight: 100; }
.text-extra-light { font-weight: 200; }
.text-light { font-weight: 300; }
.text-regular { font-weight: 400; }
.text-medium { font-weight: 500; }
.text-semi-bold { font-weight: 600; }
.text-bold { font-weight: 700; }
.text-extra-bold { font-weight: 800; }
.text-black { font-weight: 900; }