/* PADDING */
.p-xxs {
    padding-top: var(--xxs);
    padding-bottom: var(--xxs);
    padding-left: var(--xxs);
    padding-right: var(--xxs);
}

.p-xs {
    padding-top: var(--xs);
    padding-bottom: var(--xs);
    padding-left: var(--xs);
    padding-right: var(--xs);
}

.p-sm {
    padding-top: var(--sm);
    padding-bottom: var(--sm);
    padding-left: var(--sm);
    padding-right: var(--sm);
}

.p-md {
    padding-top: var(--md);
    padding-bottom: var(--md);
    padding-left: var(--md);
    padding-right: var(--md);
}

.p-lg {
    padding-top: var(--lg);
    padding-bottom: var(--lg);
    padding-left: var(--lg);
    padding-right: var(--lg);
}

.p-xl {
    padding-top: var(--xl);
    padding-bottom: var(--xl);
    padding-left: var(--xl);
    padding-right: var(--xl);
}



/* PADDING-TOP */
.pt-xxs { padding-top: var(--xxs); }
.pt-xs  { padding-top: var(--xs); }
.pt-sm  { padding-top: var(--sm); }
.pt-md  { padding-top: var(--md); }
.pt-lg  { padding-top: var(--lg); }
.pt-xl  { padding-top: var(--xl); }


/* PADDING-BOTTOM */
.pb-xxs { padding-bottom: var(--xxs); }
.pb-xs  { padding-bottom: var(--xs); }
.pb-sm  { padding-bottom: var(--sm); }
.pb-md  { padding-bottom: var(--md); }
.pb-lg  { padding-bottom: var(--lg); }
.pb-xl  { padding-bottom: var(--xl); }


/* PADDING-LEFT */
.pl-xxs { padding-left: var(--xxs); }
.pl-xs  { padding-left: var(--xs); }
.pl-sm  { padding-left: var(--sm); }
.pl-md  { padding-left: var(--md); }
.pl-lg  { padding-left: var(--lg); }
.pl-xl  { padding-left: var(--xl); }


/* PADDING-RIGHT */
.pr-xxs { padding-right: var(--xxs); }
.pr-xs  { padding-right: var(--xs); }
.pr-sm  { padding-right: var(--sm); }
.pr-md  { padding-right: var(--md); }
.pr-lg  { padding-right: var(--lg); }
.pr-xl  { padding-right: var(--xl); }


/* PADDING-X */
.px-xxs {
    padding-left: var(--xxs);
    padding-right: var(--xxs);
}

.px-xs {
    padding-left: var(--xs);
    padding-right: var(--xs);
}

.px-sm {
    padding-left: var(--sm);
    padding-right: var(--sm);
}

.px-md {
    padding-left: var(--md);
    padding-right: var(--md);
}

.px-lg {
    padding-left: var(--lg);
    padding-right: var(--lg);
}

.px-xl {
    padding-left: var(--xl);
    padding-right: var(--xl);
}

/* PADDING-Y */
.py-xxs {
    padding-top: var(--xxs);
    padding-bottom: var(--xxs);
}

.py-xs {
    padding-top: var(--xs);
    padding-bottom: var(--xs);
}

.py-sm {
    padding-top: var(--sm);
    padding-bottom: var(--sm);
}

.py-md {
    padding-top: var(--md);
    padding-bottom: var(--md);
}

.py-lg {
    padding-top: var(--lg);
    padding-bottom: var(--lg);
}

.py-xl {
    padding-top: var(--xl);
    padding-bottom: var(--xl);
}
