/* WIDTH */
.w-10-percent { width: 10%; }
.w-20-percent { width: 20%; }
.w-30-percent { width: 30%; }
.w-40-percent  { width: 40%; }
.w-50-percent  { width: 50%; }
.w-60-percent  { width: 60%; }
.w-70-percent  { width: 70%; }
.w-80-percent  { width: 80%; }
.w-90-percent  { width: 90%; }
.w-100-percent  { width: 100%; }

.w-25-percent  { width: 25%; }
.w-33-percent  { width: 33%; }
